Source: board-boneblack
Section: embedded
Priority: optional
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 4.0.0
Vcs-Git: https://github.com/bgat/board-boneblack.git

Package: board-boneblack
Architecture: all
Depends:
 u-boot-am335x,
 linux-boneblack,
 firmware-boneblack,
 ${misc:Depends}
Description: Board package for Beaglebone Black
 Defines the lowest-level packages required by any Beaglebone Black
 target, regardless of the final application.

Package: board-boneblackwireless
Architecture: all
Depends:
 u-boot-am335x,
 linux-boneblackwireless,
 firmware-boneblackwireless,
 firmware-ti-connectivity,
 ${misc:Depends}
Description: Board package for Beaglebone Black Wireless
 Defines the lowest-level packages required by any Beaglebone Black Wireless
 target, regardless of the final application.


Package: board-bonegreen
Architecture: all
Depends:
 u-boot-am335x,
 linux-bonegreen,
 firmware-bonegreen,
 ${misc:Depends}
Description: Board package for Beaglebone Green
 Defines the lowest-level packages required by any Beaglebone Green
 target, regardless of the final application.

Package: board-bonegreenwireless
Architecture: all
Depends:
 u-boot-am335x,
 linux-bonegreenwireless,
 firmware-bonegreenwireless,
 firmware-ti-connectivity,
 ${misc:Depends}
Description: Board package for Beaglebone Green Wireless
 Defines the lowest-level packages required by any Beaglebone Green Wireless
 target, regardless of the final application.
