Source: board-boneblack
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: board-boneblack
Architecture: all
Depends:
 u-boot-boneblack,
 linux-boneblack,
 firmware-boneblack,
 ${misc:Depends}
Description: Board package for Beaglebone Black
 Defines the lowest-level packages required by any Beaglebone Black
 target, regardless of the final application.
